body{
    background-color: gray;
}

header{
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-left: 40%;
    background-color: orangered;
}

h1{
    width: fit-content;
}
#nameA{
    margin-left: 100px;
    color: crimson;
    background-color: #ffffff;
   
}

#nameB{
    margin-left: 200px;
    color: aqua;
    background-color: white;
}

#nameC{
    margin-left: 300px;
    color: coral;
    background-color: white;
}

#nameD{
    margin-left: 400px;
    color: blue;
    background-color: white;
} 

#nameE{
    margin-left: 500px;
    color: black;
    background-color: white;
}

#nameF{
    margin-left: 600px;
    color: chartreuse;
    background-color: white;
}

#nameG{
    margin-left: 700px;
    color: fuchsia;
    background-color: white;
}

#imagens1{
    display: flex;
    padding-left: 300px;
    justify-content: space-around ;
    width: 70%;
}

#imagens2{
    display: flex;
    justify-content: center;
    margin: 0;
}