body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#primeira{
    display: flex;
    height: 30vmin;
}

#sec_1_2{
    background-color: rgba(217,233,253,255);
    border-radius: 30px;
    margin: 10px;   
}

#imagens_1{
    margin-top: 65px;
    margin-bottom: 35px;
    right: 75px; 
    display:grid;
    position: relative;
    background-color: white;
    border-radius: 50px;
}

#texto_1_1{
    color:#0051ff;
    font-size: 26px;
    padding-left: 15px;   
    padding-top: 45px ;
    white-space: nowrap;
        h4{
            font-size: medium;
            color: white;
            width: fit-content;
            background-color:#0051ff;
            outline: 3px solid black;
            border-radius: 15vmin;
            padding-top: 9px;
            padding-left: 18px;
            padding-bottom: 9px;
            padding-right: 70px;
        }
}

#texto_1_2{
    padding-left: 80px;
    padding-top: 50px;
    padding-right: 80px;
    white-space: nowrap;
        P{
            text-align: center;
            outline: 3px solid black;
            color: white;
            background-color: #0041cc;
            border-radius: 50px;
            padding:5px;
        }
}

body{
    background-color: white;
}

#sec_1_1{
    background-color: rgba(217,233,253,255);
    border-radius: 30px;
    display: flex; 
    margin: 10px;
    width: 88vmin;
}

#sec_2_1{
    background-color: rgba(217,233,253,255);
    border-radius: 20px;   
    margin: 10px; 
    width: 60vmin;
    font-size: 15px;
        h3,h4,h5{
            padding-left: 15px;
        }
        h3{
            color: #0041cc;
            position: relative;
            left: 5px;
        }
        hr{
            margin-left: 10;
            position: relative;
            top: -10px;
            background-color: white;
        }
        #texto_2_1{
            position: relative;
            font-size:13px;
            left: 11px;
        }
}

#a,#b,#c,#d{
    background-color: white;
    padding-bottom:17px;
    padding-top: 16px;
    border-radius:6px;   
    margin-left: 20px;
    margin-right: 20px;
    margin-top:-13px;
    position: relative;
}

#texto_2_3{
    position: relative;
    margin-left: 45vmin;
    color: rgb(37, 32, 32);
    text-align: center;
    margin-top:-250px;
    padding: 1px;
        #verde{
        background-color: rgb(120, 255, 120);
        }
    
        #vermelho{
        background-color: rgb(247, 62, 62);
        }
    
        #amarelo{
        background-color: rgb(255, 251, 33);
        }
    
    
}
